/* Header */
*{
    margin: 0;
    padding: 0;
}
body {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
   /* background: linear-gradient(-45deg, #000000, #323136, #0d2236, #020305);*/
	background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    font-family: 'Exo', sans-serif;
}
/* ---------------menu --------------------*/



.cuadrado{
    background-color: lavenderblush;

}


#menu {
    width: 100%;
    height: 80px;
   /* background-color: white;*/
    position: fixed;
    z-index: 99999999;
    /*border-bottom: 2px solid black;*/
      
    
}

#space2{
    background-color: lemonchiffon;
    height: 100px;
    width: 200px;
}



#logo {
    margin-top: 15px;
    margin-left: 20px;
    max-width: 100px;
    float: left;
    position: absolute;
    
}
ul {
    float: right;
    padding-right: 1%;
}
nav ul li {
    /*background-color: teal;*/
    float: left;
    list-style:none;
    margin: 50px 0 0 0;
    
}
nav ul li a{
    text-decoration: none;
    /*background-color: white;*/
    padding: 10px 30px 10px 30px;
    /*margin : 0 0 20px -2px;*/
    
    color: white;
    opacity: 0.5;
    transition: all 1.5s;
    
}
nav ul li a:hover{
    border-top: 1px solid  rgba(255, 255, 255, 0.801);
    border-bottom: 1px solid  rgba(255, 255, 255, 0.801);
    /*background-color: black;*/
    
    opacity: 1;
   /* top:-15px; */
    /*width: 300px;*/
    
}




























/* ----------animation----------*/

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
#contenedor-header{
    /*background: rgba(9, 33, 61, 0.924);*/
    width: 100%;
    /*background-image:  url('images/blur_mesh.png');*/
    display: flex;
    justify-content: center;
    align-items: center;
}
#el2dofondo{
    position: absolute;
    height: 100%;
    width:100%;
    background: url("images/line_mesh.png") no-repeat center ;
    background-size: 95% ;
    top: 23%;
    opacity: 0.8;
    animation-name: MOVE-BG;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: reverse;
  -webkit-animation-direction: alternate-reverse;

}
@keyframes MOVE-BG {
    from {
      transform: translateX(0);
      
    }
    
    to{
        transform: translateY(2%);
       
        
    }
 }

/*
#el2dofondo:hover{
    background: url("images/line_mesh.png") repeat center ;
   opacity: 1;
}*/

#rock-3d{
    position: absolute;
	margin: 0;
	padding: 0;
	color: white;
	text-align: center;
	top: 50%;
	left: 50%;
	-webkit-transform: translate3d(-50%,-50%,0);
	transform: translate3d(-50%,-50%,0);

}
#text-3d {
    position: absolute;
	margin: 0;
	padding: 0;
	color: white;
	text-align: center;
	top: 50%;
	left: 50%;
	-webkit-transform: translate3d(-50%,-50%,0);
	transform: translate3d(-50%,-50%,0);
    /*right: 37%;*/
}
.large-header {
	position: relative;
	width: 100%;
	/*background: #333;*/
	overflow: hidden;
	background-size: cover;
	background-position: center center;
	z-index: 1;
}

#large-header {
    /*background-image: url('images/blur_mesh.png');*/
    color: white;
}

.main-title {  
	position: absolute;
	margin: 0;
	padding: 0;
	color: white;
	text-align: center;
	top: 90%;
	left: 50%;
	-webkit-transform: translate3d(-50%,-50%,0);
	transform: translate3d(-50%,-50%,0);
}
.nether-slogan{
	position: absolute;
	margin: 0;
	padding: 0;
    color: white;
    font-size: 3em;
	text-align: center;
	top: 63%;
	left: 50%;
	-webkit-transform: translate3d(-50%,-50%,0);
	transform: translate3d(-50%,-50%,0);
}
	

.nether-slogan .thin {
	font-weight: 200;
}
.demo-1 .main-title {
	text-transform: uppercase;
	font-size: 3.2em;
	letter-spacing: 0.1em;
}

.main-title .thin {
	font-weight: 200;
}

@media only screen and (max-width : 768px) {
	.demo-1 .main-title {
		font-size: 3em;
	}
}
#banner1{
    height: 100%;
    width: 100%;
    background-color: white;
   position: absolute;
   display: flex;
   justify-content: center;
   align-items: center;
}
#space1{
    height: 100%;
    width: 100%;
    background-color: teal;
}



/*-----waves background-------*/
@keyframes move_wave {
    0% {
        transform: translateX(0) translateZ(0) scaleY(1)
    }
    50% {
        transform: translateX(-25%) translateZ(0) scaleY(0.55)
    }
    100% {
        transform: translateX(-50%) translateZ(0) scaleY(1)
    }
}
.waveWrapper {
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
}
.waveWrapperInner {
    position: absolute;
    width: 100%;
    overflow: hidden;
    height: 100%;
    bottom: -1px;
    /*background-image: linear-gradient(to top, #86377b 20%, #27273c 80%);*/
}

.bgBottom {
    z-index: 5;
}
.wave {
    position: absolute;
    left: 0;
    width: 200%;
    height: 100%;
    background-repeat: repeat no-repeat;
    background-position: 0 bottom;
    transform-origin: center bottom;
}

.waveAnimation .waveMiddle {
    animation: move_wave 10s linear infinite;
}
.waveBottom {
    background-size: 50% 50px;
    opacity: 0.2;
}
.waveAnimation .waveBottom {
    animation: move_wave 15s linear infinite;
}



/*-----bricks  background-------*/
.context {
    width: 100%;
    position: absolute;
    top:60vh;
    
}

.context h1{
    position: absolute;
    text-align: center;
    color: #fff;
    font-size: 50px;
    left: 30%;
}


.area{
    background: #4e54c8;  
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);  
    width: 100%;
    height:100%;
    
   
}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 95%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}




/*- ------------------HOVERMOUSE 2DOFONDO ---------- */

